/* Reset CSS di base per rimuovere margini e padding predefiniti e applicare border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Imposta il font principale del sito */
body {
  font-family: "Open Sans", sans-serif;
}

/* Fa sì che tutte le immagini siano responsive */
img {
  width: 100%;
  height: auto;
}


.container {
  max-width: 1200px;
  margin: 0 auto;

}

/* HEADER */

/* Stili per l'header */
header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Rimuove la sottolineatura predefinita dai link e imposta il colore nero */
a {
  text-decoration: none;
  color: black;
}

/* Stile per le liste di navigazione */
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-weight: bold;
  font-size: 14px
}

ul li a:hover {
  color: #0282f9;
}

/* Stile per i link quando hanno il focus (selezionati) */
ul li a:focus {
  outline: none;
  color: #0282f9;
  position: relative;
}

/* Crea una linea sotto il link quando ha il focus */
ul li a:focus::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -63px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0282f9;
}

/* MAIN CONTENT */
main {
  background-color: black;
}

main div.container {
  padding: 60px;
  color: white;
  font-size: 15px;
}

/* Main LIST */

section {
  background-color: #0282f9;
  padding: 40px;
}

section div.container {
  display: flex;
}

/* MainList component styles */
section div.container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

section div.container ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

section div.container img.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  vertical-align: middle;

}

section div.container ul li a {
  color: white;
  font-size: 12px;
  white-space: nowrap;
}

footer {
  background-image: url('/src/assets/img/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 60px 0;
}

footer .container {
  display: flex;
  justify-content: flex-start;
}

.footer-columns {
  display: flex;
  gap: 30px;
  width: 100%;
  /* Occupa tutto lo spazio disponibile */
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-col ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
}

.footer-col h2 {
  color: white;
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-col ul li a {
  color: #959595;
  font-size: 11px;
  transition: color 0.3s;
  text-decoration: none;
}

.footer-col.logo {
  margin-left: auto;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
}

.footer-col.logo img {
  max-width: 600px;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: -100px;
  right: 0;

}


/* FOOTER FOLLOW */
.footer-follow {
  background-color: #303030;
  padding: 30px 0;
}

.footer-follow-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-signup-btn {
  background-color: transparent;
  color: white;
  border: 2px solid #0282f9;
  padding: 15px 25px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social-title {
  color: #0282f9;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-social-item {
  display: flex;
  align-items: center;
}

.footer-social-link img {
  width: 35px;
  height: 35px;
}


/* CoMICS */

.comics-list {
  background-color: #1c1c1c;

  position: relative;
}

.comics-header {
  position: relative;
  height: 60px;
  margin-bottom: 30px;
}

.current-series-badge {
  position: absolute;
  top: -20px;
  left: 15%;
  background-color: #0282f9;
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  z-index: 2;
}


.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
}

.comic-card {
  flex: 0 0 calc(16.666% - 17px);

}

.comic-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img {
  width: 70%;
  aspect-ratio: 1/1.5;
  object-fit: cover;
  margin-bottom: 10px;
}

.comic-card h3 {
  color: white;
  font-size: 12px;
  margin-top: 10px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
}

.load-more-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.load-more-btn {
  background-color: #0282f9;
  color: white;
  border: none;
  padding: 10px 50px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}