/* Reset CSS di base per rimuovere margini e padding predefiniti e applicare border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Imposta il font principale del sito */
body {
  font-family: "Open Sans", sans-serif;
}

/* Fa sì che tutte le immagini siano responsive */
img {
  width: 100%;
  height: auto;
}


.container {
  max-width: 1200px;
  margin: 0 auto;

}

/* HEADER */

/* Stili per l'header */
header.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* Rimuove la sottolineatura predefinita dai link e imposta il colore nero */
a {
  text-decoration: none;
  color: black;
}

/* Stile per le liste di navigazione */
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-weight: bold;
  font-size: 14px
}

ul li a:hover {
  color: #0282f9;
}

/* Stile per i link quando hanno il focus (selezionati) */
ul li a:focus {
  outline: none;
  color: #0282f9;
  position: relative;
}

/* Crea una linea sotto il link quando ha il focus */
ul li a:focus::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -63px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #0282f9;
}

/* MAIN CONTENT */
main {
  background-color: black;
}

main div.container {
  padding: 60px;
  color: white;
  font-size: 15px;
}

/* Main LIST */

section {
  background-color: #0282f9;
  padding: 40px;
}

section div.container {
  display: flex;
}

/* MainList component styles */
section div.container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

section div.container ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

section div.container img.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  vertical-align: middle;

}

section div.container ul li a {
  color: white;
  font-size: 12px;
  white-space: nowrap;
}